/* iui.css (c) 2007-9 by iUI Project Members, see LICENSE.txt for license */
body {
    color: #000000;
}

li > a[selected], li > a:active {
    background-image: url(../images/iphone/listArrowSel.png), url(../images/iphone/selection.png) !important;
}

li > a[selected="progress"] {
    background-image: url(../images/iphone/loading.gif), url(../images/iphone/selection.png) !important;
}

/************************************************************************************************/

body > .toolbar {
    background: url(../images/iphone/toolbar.png) #6d84a2 repeat-x;
}

.button {
    -webkit-border-image: url(../images/iphone/toolButton.png) 0 5 0 5;
}

.blueButton {
    -webkit-border-image: url(../images/iphone/blueButton.png) 0 5 0 5;
}

#backButton {
    -webkit-border-image: url(../images/iphone/backButtonBrdr.png) 0 8 0 14;
    background: url(../images/iphone/backButtonBack.png) repeat-x;
}


.whiteButton {
    -webkit-border-image: url(../images/iphone/whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}

.redButton {
    -webkit-border-image: url(../images/iphone/redButton.png) 0 12 0 12;
}

.grayButton {
    -webkit-border-image: url(../images/iphone/grayButton.png) 0 12 0 12;
    color: #FFFFFF;
}

/************************************************************************************************/

body > ul > li.group {
	opacity:0.7;
    background: url(../images/iphone/listGroup.png) repeat-x;
}

body > ul > li > a {
    background: url(../images/iphone/listArrow.png) no-repeat right center;
}

/************************************************************************************************/
    
.dialog > fieldset {
    background: url(../images/iphone/toolbar.png) #7388a5 repeat-x;
}

/************************************************************************************************/

body > .panel {
    background: #c8c8c8 url(../images/iphone/pinstripes.png);
}

.toggle {
    border: 1px solid #888888;
    background: #FFFFFF url(../images/iphone/toggle.png) repeat-x;
}

.toggle[toggled="true"] {
    background: #194fdb url(../images/iphone/toggleOn.png) repeat-x;
}

.thumb {
    background: #ffffff url(../images/iphone/thumb.png) repeat-x;
}

/************************************************************************************************/
#preloader {
    display: none;
    background-image: url(../images/iphone/loading.gif), url(../images/iphone/selection.png),
        url(../images/iphone/blueButton.png), url(../images/iphone/listArrowSel.png), url(../images/iphone/listGroup.png);
}

.toolbar > h1.titleImg {
  background: url(../images/iphone/title-img.png) no-repeat top center;
  color: rgba(0,0,0,0);
}

.backButtonImg {
  width: 50px;
  background: url(../images/iphone/back-img.png) no-repeat center left,
              url(../images/iphone/backButtonBack.png) repeat-x top left !important;
  color: rgba(0,0,0,0);
}
