@CHARSET "UTF-8";

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    margin-top:20px;
    font-family: robotoregular;
	height:100%;
	background: linear-gradient(0deg, #eee,  #fff) no-repeat;

}

body.detail {
	background-color: #e0e0e3;
	margin: 0px;
}

#mainBox {
	background-color: #e0e0e3;
	border: #a0a0a3 thin outset;
	position: relative;
    top: 5px;
    margin: 0px auto 0;
    width: 800px;
    height: 500px;
    font-size: 8pt;
    font-family: robotoregular;
    overflow: hidden;
}

#menuBox {
	background-color: #e0e0e3;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 5px;
	position: absolute;
	top: 2px;
	height: 25px;
	width: 500px;
	overflow: hidden;
}

#logoutBox {
	background-color: #e0e0e3;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
	position: absolute;
	left: 500px;
	top: 2px;
	height: 25px;
	width: 300px;
	overflow: hidden;
	text-align: right;
}

#detailMenuBox {
	background-color: #e0e0e3;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 5px;
	position: absolute;
	top: 2px;
	height: 25px;
	width: 600px;
	overflow: hidden;
}

#naviBox {
	background-color: #ffffff;
	position: absolute;
	padding: 0px;
    top: 30px;
    left:4px;
    border: #ffffff  thin inset;
    width: 200px;
    height: 350px;
    overflow: hidden;
}

#contentBox {
	background-color: #ffffff;
	position: absolute;
	padding: 0px;
    top: 30px;
    left:210px;
    border: #ffffff  thin inset;
    width: 585px;
    height: 350px;
    overflow: hidden;
}

#PasswordList {
	overflow: scroll;
	height: 350px;
}

#GroupList {
	overflow: scroll;
	height: 350px;
}

#UserList {
	overflow: scroll;
	height: 350px;
}

#infoBox {
	background-color: #ffffff;
	position: absolute;
	padding: 5px;
    top: 394px;
    left:4px;
    border: #ffffff  thin inset;
    width: 780px;
    height: 90px;
    overflow: auto;
}


.filter {
	position:relative;
	top:-7px;
}

table.itemlist {
	table-layout:fixed;
}

th.itemlist {
	background-image:url(../images/thbg.png);
	height: 15px;
	font-weight: normal;
	vertical-align:middle;
	text-align:left;
	padding: 5px;
	border-right:1px solid #8c8c8d;

}

td.itemlist {
	padding: 5px;
}

tr.itemlist {
	color: #000000;
}

a:link  {
        text-decoration: none;
        color: #000000;
}

img {
		border: 0;
}

tr.itemlist:hover {
	color: #000000;
	font-weight: bold;
}

h1 {
        font-size: 12pt;
        text-decoration: none;
        color: #cc0000;
        font-weight: bold;
        font-family: robotoregular;
}

#Credentials {
        position:relative;
        top:10px;
        left:100px;
        width:300px;
        font-size: 8pt;
        font-family: robotoregular;
}

.white {
        color: #ffffff;
        font-family: robotoregular;
        font-size: 8pt;
}

.Password {
		visibility: visible;
}

.Mask {
		visibility: visible;
}

input.Password {
        font-size: 8pt;
        border: 0px;
        font-family: robotoregular;
}

#credentialBox {
        width:400px;
        height:200px;
        border:white  medium outset;
        color:white;
        background-color:#444445;
        margin: auto;
        position: relative;
        top: 150px;
}

#itemDetails {
		padding: 5px;
		margin: auto;
		position: relative;
		top: 10px;
		width: 560px;
		height: 270px;
		border:white  medium outset;
}

#groupDetails {
		padding: 5px;
		margin: auto;
		position: relative;
		top: 10px;
		width: 360px;
		height: 150px;
		border:white  medium outset;
}

table.itemDetails {
	width: 100%;
	table-layout: fixed;
	vertical-align: top;
}

th.itemDetails {
	text-align: left;
	color: #000000;
    font-family: robotoregular;
    font-size: 12pt;
    font-weight: bold;
}


td.leftItem {
	text-align: right;
	color: #000000;
    font-family: robotoregular;
    font-size: 8pt;
}

td.rightItem {
	text-align: left;
	color: #000000;
    font-family: robotoregular;
    font-size: 8pt;
}

td.centerItem {
	text-align: center;
	color: #000000;
    font-family: robotoregular;
    font-size: 8pt;
}

select.leftGroupSelection {
	width: 150px;
}

select.rightGroupSelection {
	width: 150px;
}

td.leftGroupSelection {
	text-align: left;
}

td.rightGroupSelection {
	text-align: right;
}

#AvailableGroups {
	background-color: #ffffff;
	position: absolute;
	padding: 5px;
    top: 10px;
    left:290px;
    border: #ffffff  thin inset;
    width: 110px;
    height: 200px;
    overflow: auto;
    font-family: robotoregular;
    font-size: 8pt;
}

#SelectedGroups {
	background-color: #ffffff;
	position: absolute;
	padding: 5px;
    top: 10px;
    left:420px;
    border: #ffffff  thin inset;
    width: 110px;
    height: 200px;
    overflow: auto;
    font-family: robotoregular;
    font-size: 8pt;
}

div#top_column{
	background-color:#eee;
}

i.glyphicon.glyphicon-user.user-settings{
	font-size:large;
	margin:15px;
}

i.glyphicon.glyphicon-log-out.log-out{
	font-size:large;
}

div.form-group{
	margin-top:15px;
}

.list-group{
	margin-top:20px;
}

th.edit-column{
	width:50px;
}

th.title-column{
	width:200px;
}

div.input-group{
	margin-top:15px;
}

.login-card{
	max-width:350px;
	padding:40px 40px;
	background-color:#212142;
	margin:0 auto 25px;
	margin-top:50px;
	border-radius:5px;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-card .profile-img-card{
	width:96px;
	height:96px;
	margin:0 auto 10px;
	display:block;
	border-radius:50%;
}

.login-card .profile-name-card{
	font-size:16px;
	font-weight:bold;
	text-align:center;
	margin:10px 0 0;
	min-height:1em;
	color: #fff;
}

.login-card .reauth-email{
	display:block;
	color:#404040;
	line-height:2;
	margin-bottom:10px;
	font-size:14px;
	text-align:center;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	box-sizing:border-box;
}

.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button{
	height:44px;
	font-size:16px;
	width:100%;
	display:block;
	margin-bottom:10px;
	z-index:1;
	position:relative;
	box-sizing:border-box;
}

.login-card label{
	color:#000;

}

.login-card .form-signin .form-control:focus{
	border-color:rgb(104, 145, 162);
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.login-card .btn.btn-signin{
	font-weight:700;
	height:36px;
	line-height:36px;
	font-size:14px;
	background:#1b6d85;
	border-radius:3px;
	border:none;
	transition:all 0.218s;
	padding:0;
}

.login-card .btn.btn-signin:hover {
	background: #303050;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus{
	background:rgb(12, 97, 33);
}

.login-card .forgot-password{
	color:rgb(104, 145, 162);
}

.login-card .forgot-password:hover, .login-card .forgot-password:active, .login-card .forgot-password:focus{
	color:#fff;
}

.group-column {
	overflow: auto;
}

html,body {height:100%;}
.content {
	overflow: auto;
}

.table-responsive>.table {
	margin-bottom: 20px;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 5px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.list-group-item.dropdown {
	position: relative;
	display: block;
	padding: 5px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 0px ;
}

@media (max-width: 767px) {
	.panel-default {
		margin: 0;
	}
}

div.login-footer {
    max-width: 350px;
    margin: auto;
}

.logo {
	width: 40%;
	margin: auto;
}

.login-card a {
	color: #fff;
}

.mainContainer {
	height: 95%;
	overflow: hidden;
}

.paginationcontainer {
	margin-top: -100px;
}

.url {
	border: 1px solid #e2e2e2;
	border-radius:5px;
	padding: 7px;
}

#URLedit {
	float: right;
	color: #3c3c3c;
}
